{% extends 'base.html' %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}
{% load static %}

{% block container %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {% include 'messages.html' %}
      </div>
    </div>
  </div>

  <div class="container card-container">
    <div class="row">
      <div class="card-list card-list-primary">
        {% for item in submenu.sorted_items %}
          {% if not show_secondary or not item.secondary %}
            <div class="card thumbnail">
              <a href="{{ item.url }}" class="nav-link">
                <div class="card-title">{{ item.name }}</div>
                <div class="card-icon">
                  {% if 'fa-' in item.icon %}
                    <span class="fa {{ item.icon }}"></span>
                  {% else %}
                    <img src="{% static 'theme/icons/' %}{{ item.icon }}.png"/>
                  {% endif %}
                </div>
                <div class="card-description">{{ item.short_description}}</div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  {% if show_secondary %}
    <div class="container card-container">
      <div class="card-section-title text-center">{% trans "Disabled" %}</div>
      <div class="row">
        <div class="card-list card-list-secondary">
          {% for item in submenu.sorted_items %}
            {% if item.secondary %}
              <div class="card thumbnail">
                <a href="{{ item.url }}" class="nav-link">
                  <div class="card-title">{{ item.name }}</div>
                  <div class="card-icon">
                    {% if 'fa-' in item.icon %}
                      <span class="fa {{ item.icon }}"></span>
                    {% else %}
                      <img src="{% static 'theme/icons/' %}{{ item.icon }}.png"/>
                    {% endif %}
                  </div>
                  <div class="card-description">{{ item.short_description}}</div>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% block content-container %}
  {% endblock %}

{% endblock %}
